﻿
@model AlivePortal.Models.GroupViewModel

@{
    ViewBag.Title = "Detail";
}

<div id="back-button" onClick="location.href='/group/list'" ><h1 style="color:black;">@Model.name</h1></div>
					<div class="clearfix"></div>
	<div id="app-content">
<div class="box">
							<div class="box-header selected"><h2>Users</h2>
                                  </div>
@(Html.Kendo().Grid(Model.usergroups)
    .Name("userGroupGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.username).EditorTemplateName("SelectUser");
          columns.Command(command => { command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
         .ToolBar(toolbar => toolbar.Create().Text("Add User"))
    
      .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Create(create => create.Action("CreateUserGroup", "Group", new { group_id = ViewBag.group_id }))
                .Read(read => read.Action("ReadUserGroup", "Group", new { group_id = ViewBag.group_id }))
                .Destroy(destroy => destroy.Action("DestroyUserGroup", "Group"))
    )
             .Pageable() //Enable paging
)
    </div>
<div class="box">
							<div class="box-header selected"><h2>Applications</h2>
                                  </div>
@(Html.Kendo().Grid(Model.applications)
    .Name("applicationsGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.name).EditorTemplateName("SelectApplication");
          columns.Bound(p => p.bundle_identifier);
          columns.Bound(p => p.bundle_version);
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
    })
               .ToolBar(toolbar => toolbar.Create().Text("Add Application"))
    
      .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
                 model.Field(p => p.bundle_identifier).Editable(false);

                 model.Field(p => p.bundle_version).Editable(false);
             })
                 .Update(create => create.Action("CreateApplication", "Group", new { group_id = ViewBag.group_id }))
            
                .Create(create => create.Action("CreateApplication", "Group", new { group_id = ViewBag.group_id }))
                .Read(read => read.Action("ReadApplication", "Group", new { group_id = ViewBag.group_id }))
                 .Destroy(destroy => destroy.Action("DestroyApplication", "Group"))
               )
             .Pageable() //Enable paging
)
</div>
        </div>