﻿@model IEnumerable<AlivePortal.Models.GroupViewModel>

@{
    ViewBag.Title = "Group";
}


	<div id="app-content">
<div class="box">
							<div class="box-header selected"><h2>Groups</h2>
                                  </div>
@(Html.Kendo().Grid(Model)
    .Name("groupGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.name).ClientTemplate("<a href='/group/detail/#=id#'>#=name#</a>")
 .Title("Name").Width(200);
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
       .ToolBar(toolbar => toolbar.Create().Text("Add new group"))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Create(create => create.Action("Create", "Group"))
                .Read(read => read.Action("Read", "Group"))
                .Update(update => update.Action("Update", "Group"))
                .Destroy(destroy => destroy.Action("Destroy", "Group"))
    )
             .Pageable() //Enable paging
)
</div>

</div>