﻿
@model AlivePortal.Models.ApplicationViewModel

@{
    ViewBag.Title = "Detail";
}
<style>

    .screenDiv {
            display: table-cell;
    text-align: center;
    vertical-align: middle;
  max-width:120px;
    max-height:214px;
  overflow: hidden;
  cursor:pointer;
    }
    .screenContainerDiv {
    float:left;
  max-width:120px;
     max-height:214px;
  padding-right:30px;
    }
    .photoimg{
    width:100%;
    width:120px;
}
    .boxInner {
       width: 100%; margin: 0px auto;
    }
</style>
<h2>@Model.name</h2> 
	<div id="back-button"><h1 style="color:black;">@Model.name</h1></div>
					<div id="upload-container">
						<a id="upload-app" onclick="uploadApp(@Model.id);">Upload app</a>
						<a id="upload-icon" onclick="uploadIcon(@Model.id);">Upload icon</a>
					</div>
					<div class="clearfix"></div>
					<div id="app-content">
<div id="applicationDetails">
@Html.Partial("ShowDetail", Model)
</div>
</div>
<div class="box">
							<div class="box-header selected"><h2>Groups</h2>
                                  </div>
@(Html.Kendo().Grid(Model.applicationgroups)
    .Name("applicationGroupGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.groupname).EditorTemplateName("SelectGroup");
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
       .ToolBar(toolbar => toolbar.Create().Text(""))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Create(create => create.Action("CreateGroup", "Application", new { application_id = ViewBag.application_id }))
                .Read(read => read.Action("ReadGroup", "Application", new { application_id = ViewBag.application_id }))
                .Update(update => update.Action("UpdateGroup", "Application"))
                .Destroy(destroy => destroy.Action("DestroyGroup", "Application"))
    )
             .Pageable() //Enable paging
)
</div>
<script type="text/javascript">
    function Uploaded() {
        window.location.href = '/application/Detail/@Model.id';
    }
    function uploadIcon(id) {

        var wnd = $("#windowUpload").data("kendoWindow");
        wnd.refresh({
            url: "/Application/UploadIcon/" + id
        });
        wnd.title("Replace Icon")
        wnd.center().open();
    }
    function uploadApp(id) {

        var wnd = $("#windowUpload").data("kendoWindow");
        wnd.refresh({
            url: "/Application/UploadFile/" + id
        });
        wnd.title("Replace App")
        wnd.center().open();
    }
    function editMode(id) {

        $.ajax({
            type: "GET",
            cache: false,
            async: true,
            url: "/application/EditDetail/"+id,
            success: function (result) {
                $('#applicationDetails').html(result);

            }
        });
    }
   </script>