﻿
@model AlivePortal.Models.ApplicationViewModel

<style>
   input[type="text"] {
    padding: 5px;
    width: 160px;

}
</style>
<script type="text/javascript">
   
    $(document).ready(function () {

        $("#description").attr("style", "width: 100%;");
        $('form#ajaxForm').find('a.submit-link').click(function () {
            $('form#ajaxForm').trigger('submit');
        }).show();
    });
    function saveForm()
    {
        $('form#ajaxForm').trigger('submit');
    }

     </script>
@using (Ajax.BeginForm("saveDetails", new AjaxOptions() { UpdateTargetId = "saveDetails", OnSuccess = "DetailsSaved", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
{
    
    <div class="box">
							  <div class="box-header selected">
                                    <div style="float:left"><h2>Description</h2></div>
                            	<div style="float:right"><img class="icon submit-link" src="/content/images/save.png" onclick="saveForm();" /></div>
							</div>
							<div class="box-content">
								  @Html.EditorFor(model => model.description)
							</div>
						</div>
    
    <div class="box">
							<div class="box-header">
								<div class="columnforth">
									<span>Icon uploaded</span> 
								</div>
								<div class="columnforth">
									<span>Name</span>
								</div>
								<div class="columnforth">
									<span>Version</span>
								</div>
								<div class="columnforth">
									<span>Updated</span>
								</div>
							</div>
							<div class="box-content icon-box">
								<div class="columnforth">
									<img src='/application/DisplayIcon/@Model.id' alt='no icon'>
								</div>
								<div class="columnforth">
									<span>@Html.TextBoxFor(model => model.name, new { @class = "k-input k-textbox smallbox " })</span>
								</div>
								<div class="columnforth">
									<span>@Html.TextBoxFor(model => model.bundle_version, new { @class = "k-input k-textbox" })</span>
								</div>
								<div class="columnforth">
									<span>@Model.updateDateString</span>
								</div>
								<div class="clearfix"></div>
							</div>
						
</div>
    <div class="box">
							<div class="box-header">
								<div class="columnforth">
									<span>App uploaded</span> 
								</div>
								<div class="columnforth">
									<span>Developer</span>
								</div>
								<div class="columnforth">
									<span>Device</span>
								</div>
								<div class="columnforth">
									<span>Store</span>
								</div>
							</div>
    <div class="box-content app-box">
								<div class="columnforth">
									<img src="/content/images/tick.png" class="alignleft" alt="tick" />
								</div>
								<div class="columnforth">
									<span>@Html.TextBoxFor(model => model.developer, new { @class = "k-input k-textbox" })</span>
								</div>
								<div class="columnforth">
									<span> @(Html.Kendo().DropDownList()
           .Name("Device")
          .OptionLabel("Select Device")
          .DataTextField("Name")
          .DataValueField("Name")
          .DataSource(source => {
               source.Read(read => {
                   read.Action("GetDeviceType", "Application");
               });
          })
    )</span>
								</div>
								<div class="columnforth">
									<span> @(Html.Kendo().DropDownList()
           .Name("Store")
          .OptionLabel("Select Store")
          .DataTextField("Name")
          .DataValueField("Name")
          .DataSource(source => {
               source.Read(read => {
                   read.Action("GetStoreType", "Application");
               });
          })
          )</span>
								</div>
								<div class="clearfix"></div>
							</div>
</div>
    
    <noscript>
       <input type="submit" value="Save" />
   </noscript>
     
}
<div class="box">
							<div class="box-header selected"><h2>Phone Screen</h2>
                                  </div>
							<div class="box-content" style="height: 220px;">
                                <div class="boxInner">
            <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img class="photoimg" src='/application/DisplayPhoneImage/@Model.phoneScreen1' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen2' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen3' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen4' alt='no image'></div></div>
        <div class="screenContainerDiv" style="padding-right:0px;"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen5' alt='no image'></div></div>
                                </div>
                                </div>
    </div>
<div class="box" style="clear:both;">
							<div class="box-header selected"><h2>Tablet Screen</h2>
                                  </div>
								<div class="box-content" style="height: 220px;">
                                      <div class="boxInner">
            <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img class="photoimg" src='/application/DisplayTabletImage/@Model.tabletScreen1' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen2' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen3' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen4' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen5' alt='no image'></div></div>
                                </div>
                                    </div>

    </div>

<div style="clear:both;" />