﻿@model IEnumerable<AlivePortal.Models.ApplicationViewModel>

@{
    ViewBag.Title = "Group";
}
	<div id="app-content">
<div class="box">
							<div class="box-header selected"><h2>Applications</h2>
                                  </div>


@(Html.Kendo().Grid(Model)
    .Name("groupGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.id).ClientTemplate("<img src='/application/DisplayIcon/#=id#' alt='no icon'>")
              .Title("Icon").Width(200);
          columns.Bound(p => p.name).ClientTemplate("<a href='/application/detail/#=id#'>#=name#</a>")
 .Title("Name");
          columns.Bound(p => p.bundle_version).Width(100);
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
       .ToolBar(toolbar => toolbar.Create().Text("Add new application"))
     .Editable(editable => editable.Mode(GridEditMode.InLine))
       
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
                 model.Field(p => p.id).Editable(false);
             })
                .Create(create => create.Action("Create", "Application"))
                .Read(read => read.Action("Read", "Application"))
                .Update(update => update.Action("Update", "Application"))
                .Destroy(destroy => destroy.Action("Destroy", "Application"))
    )
             .Pageable() //Enable paging
)

  @(Html.Kendo().Window()
     .Name("windowUploadIcon")
    .Title("ReplaceFile")
    .Content("Upload Icon")
    .LoadContentFrom("UploadIcon", "Application")
    .Draggable()
    .Resizable()
    .Visible(false)
)
    </div>
                    </div>
<script type="text/javascript">
    function uploadIcon(id) {
        alert(id);
        var wnd = $("#windowUploadIcon").data("kendoWindow");
        wnd.refresh({
            url: "/Application/UploadIcon/" + id
        });
        wnd.center().open();
    }
    </script>
