﻿
@model AlivePortal.Models.ApplicationViewModel


  @(Html.Kendo().Window()
     .Name("windowUpload")
    .Title("Replace Icon")
    .Content("Upload Icon")
    .Draggable()
    .Resizable()
    .Width(300)
    .Visible(false)
)   

<script type="text/javascript">
   
    function uploadPhoneScreen(id) {

        var wnd = $("#windowUpload").data("kendoWindow");
        wnd.refresh({
            url: "/Application/UploadPhoneScreen/" + id
        });
        wnd.title("Phone Screen")
        wnd.center().open();
    }
    function uploadTabletScreen(id) {

        var wnd = $("#windowUpload").data("kendoWindow");
        wnd.refresh({
            url: "/Application/UploadTabletScreen/" + id
        });
        wnd.title("Tablet Screen")
        wnd.center().open();
    }
    $(document).ready(function () {

        $("#description").attr("readonly", "readonly");
        $("#description").attr("style", "background-color:#EFEEEF;width: 100%;");

    });
   

     </script>

<div class="box">
							    <div class="box-header selected">
                                    <div style="float:left"><h2>Description</h2></div>
                            	<div style="float:right"><img class="icon" src="/content/images/edit.png"  onclick="editMode(@Model.id);" /></div>
							</div>
							<div class="box-content">
								  @Html.EditorFor(model => model.description)
							</div>
						</div>
<div class="box">
							<div class="box-header-grey">
								<div class="columnforth">
									<span>Icon uploaded</span> 
								</div>
								<div class="columnforth">
									<span>Name</span>
								</div>
								<div class="columnforth">
									<span>Version</span>
								</div>
								<div class="columnforth">
									<span>Updated</span>
								</div>
							</div>
							<div class="box-content icon-box">
								<div class="columnforth">
									<img src='/application/DisplayIcon/@Model.id' alt='no icon'>
								</div>
								<div class="columnforth">
									<span>@Model.name</span>
								</div>
								<div class="columnforth">
									<span>@Model.bundle_version</span>
								</div>
								<div class="columnforth">
									<span>@Model.updateDateString</span>
								</div>
								<div class="clearfix"></div>
							</div>
						
</div>
<div class="box">
							<div class="box-header-grey">
								<div class="columnforth">
									<span>App uploaded</span> 
								</div>
								<div class="columnforth">
									<span>Developer</span>
								</div>
								<div class="columnforth">
									<span>Device</span>
								</div>
								<div class="columnforth">
									<span>Store</span>
								</div>
							</div>
    <div class="box-content app-box">
								<div class="columnforth">
									<img src="/content/images/@Model.appUploaded" class="alignleft" alt="tick" />
								</div>
								<div class="columnforth">
									<span>Alive Mobile</span>
								</div>
								<div class="columnforth">
									<span>Universal</span>
								</div>
								<div class="columnforth">
									<span>Private</span>
								</div>
								<div class="clearfix"></div>
							</div>
</div>
<div class="box">
							<div class="box-header selected"><h2>Phone Screen</h2>
                                  </div>
							<div class="box-content" style="height: 220px;">
                                <div class="boxInner">
            <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img class="photoimg" src='/application/DisplayPhoneImage/@Model.phoneScreen1' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen2' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen3' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen4' alt='no image'></div></div>
        <div class="screenContainerDiv" style="padding-right:0px;"><div class="screenDiv" onclick="uploadPhoneScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayPhoneImage/@Model.phoneScreen5' alt='no image'></div></div>
                                </div>
                                </div>
    </div>
<div class="box" style="clear:both;">
							<div class="box-header selected"><h2>Tablet Screen</h2>
                                  </div>
								<div class="box-content" style="height: 220px;">
                                      <div class="boxInner">
            <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img class="photoimg" src='/application/DisplayTabletImage/@Model.tabletScreen1' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen2' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen3' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen4' alt='no image'></div></div>
        <div class="screenContainerDiv"><div class="screenDiv" onclick="uploadTabletScreen(@Model.id);"><img  class="photoimg"  src='/application/DisplayTabletImage/@Model.tabletScreen5' alt='no image'></div></div>
                                </div>
                                    </div>

    </div>

<div style="clear:both;" />