﻿

@model AlivePortal.Models.ApplicationViewModel
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    <div>
          @(Html.Kendo().Upload()
            .Name("images")
        .Multiple(false)
             .Async(a => a
            .Save("SavePhoneScreen", "Application")
            
            .AutoUpload(true)
              ).Events(e => e
            .Complete("Uploaded")
            .Upload(@<text>
            function(e) {    
             e.data = { id: @Model.id };
            }
          </text>)
        )
        )

    </div>
}