﻿
@model AlivePortal.Models.UserViewModel

@{
    ViewBag.Title = "Detail";
}


	<div id="back-button" onClick="location.href='/user/list'" ><h1 style="color:black;">@Model.name</h1></div>
					<div class="clearfix"></div>
	<div id="app-content">
<div class="box">
							<div class="box-header selected"><h2>Groups</h2>
                                  </div>
@(Html.Kendo().Grid(Model.usergroups)
    .Name("userGroupGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.groupname).EditorTemplateName("SelectGroup").Title("Name");
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
       .ToolBar(toolbar => toolbar.Create().Text(""))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Create(create => create.Action("CreateUserGroup", "User", new { user_id = ViewBag.user_id }))
                .Read(read => read.Action("ReadUserGroup", "User", new { user_id = ViewBag.user_id }))
                .Update(update => update.Action("UpdateUserGroup", "User"))
                .Destroy(destroy => destroy.Action("DestroyUserGroup", "User"))
    )
             .Pageable() //Enable paging
)
    </div>
                        <br />
<div class="box">
							<div class="box-header selected">
						
                        <h2>Application</h2>
                                  </div>
@(Html.Kendo().Grid(Model.applications)
    .Name("applicationsGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.name).ClientTemplate("<img src='/application/DisplayIcon/#=id#' alt='no icon'>")
              .Title("Icon").Width(200);
          columns.Bound(p => p.name).ClientTemplate("<a href='/application/detail/#=id#'>#=name#</a>")
 .Title("Name").Width(200);
          columns.Bound(p => p.bundle_identifier);
          columns.Bound(p => p.bundle_version);
   
      })
      
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Read(read => read.Action("ReadApplication", "User", new { user_id = ViewBag.user_id }))
               )
             .Pageable() //Enable paging
)
</div>
        </div>