﻿@model IEnumerable<AlivePortal.Models.UserViewModel>
@{
    ViewBag.Title = "User";
}
	<div id="app-content">
<div class="box">
							<div class="box-header selected">
						
                        <h2>Users</h2>
                                  </div>
@(Html.Kendo().Grid(Model)
    .Name("userGrid")
      .Columns(columns =>
      {
          columns.Bound(p => p.name).ClientTemplate("<a href='/user/detail/#=id#'>#=name#</a>")
  .Title("Name").Width(200);
          columns.Bound(p => p.userid);
          columns.Bound(p => p.email);
          columns.Bound(p => p.password);
          columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  
      })
       .ToolBar(toolbar => toolbar.Create().Text("Add new user"))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      
      
      
      
      
    .DataSource(dataSource => dataSource
        .Ajax()
             .Model(model =>
             {
                 model.Id(p => p.id);
             })
                .Create(create => create.Action("Create", "User"))
                .Read(read => read.Action("Read", "User"))
                .Update(update => update.Action("Update", "User"))
                .Destroy(destroy => destroy.Action("Destroy", "User"))
    )
             .Pageable() //Enable paging
)
  
    	</div>
</div>

