﻿@model AlivePortal.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogon.cshtml";
}



		<div class="menu" >
			<div id="header-sign-in">
				<div class="sing-in-menu">

							 
								  <ul id="menu-sign-in-menu" class="menu">
										<li id="menu-item-1" class="menu-item "><a href=""><span>Sign in</span></a></li>
										<li id="menu-item-2" class="menu-item "><a href=""><span>Forgot password?</span></a></li>
									</ul>
								               
				</div>
			</div>
		</div>
        <div id="content-shell">

            <div id="content-sign-in" class="border-styles">

                <div class="page">
					@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
             @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
          <div id="sign-in-form">
			    @Html.TextBoxFor(m => m.UserName, new { id = "email" })
                @Html.ValidationMessageFor(m => m.UserName)
			          @Html.PasswordFor(m => m.Password, new { id = "password" })
                @Html.ValidationMessageFor(m => m.Password)
						<input type="submit" value="Sign in" id="sign-in-submit" />
              </div>
     }
                </div>

            </div>

        </div>

