﻿@using  AlivePortal.helpers;
<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="en-US"> <![endif]--> 
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="en-US" > <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="en-US" > <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US"> <!--<![endif]-->
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />


    <title>alive Portal</title>


    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.common.min.css")">
     <link rel="stylesheet" href="@Url.Content("~/Content/kendo/kendo.silver.min.css")">
     <script src="@Url.Content("~/Scripts/kendo/jquery.min.js")"></script>
     <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
     <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>

    <link id ="styles" rel="stylesheet" href="/Content/style.css" />
    <link id="styles-751-970" rel="stylesheet" type="text/css" href="/Content/css/751-970.css" media="only screen and (min-width:751px) and (max-width:970px)"/>

    <link id="styles-0-750" rel="stylesheet" type="text/css" href="/Content/css/0-750.css" media="only screen and (max-width:750px)"/>


    <link rel="shortcut icon" href="/Content/images/favicon.png" />

<style>
    .active {
	color:#388ec7;
	text-decoration:none;
}
</style>
</head>

<body class="page page-template-default ">

    <div id="site-wrapper">	
        <div id="header-shell">
             <div id="header" class="border-styles">
                <div id="dynamic-height" class="full-width">

                    <a id="logo" href="" >
                                    <img src="/Content/images/logo.png" alt="alive Portal"/>
                    </a>
                    @if (Request.IsAuthenticated) {
                        <text>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                @Html.AntiForgeryToken()
                                <a  id="escape" href="javascript:document.getElementById('logoutForm').submit()"><img src="/Content/images/escape.png" alt="escape" /></a>
                            }
                        </text>
                    } 

				
				</div>
				
            </div>
        </div>
	<div class="menu" >
			<div id="header-content">
				<div id="content">

							 
								  <ul id="content-menu" class="menu">
										<li id="menu-item-3" class="menu-item ">@Html.MenuItem("User", "List", "User")</li>
										<li id="menu-item-4" class="menu-item ">@Html.MenuItem("Group", "List", "Group")</li>
										<li id="menu-item-5" class="menu-item ">@Html.MenuItem("Application", "List", "Application")</li>
									</ul>
								               
				</div>
			</div>
		</div>
          <div id="content-shell">

            <div id="content" class="border-styles">

                <div class="page">
            @RenderBody()
                    </div>
                </div>
              </div>

      
</body>

</html>