﻿
<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="en-US"> <![endif]--> 
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="en-US" > <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="en-US" > <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US"> <!--<![endif]-->
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />


    <title>alive Portal</title>


    <script type='text/javascript' src='/Content/js/jquery.min.js'></script>

    <link id ="styles" rel="stylesheet" href="/Content/style.css" />
    <link id="styles-751-970" rel="stylesheet" type="text/css" href="/Content/css/751-970.css" media="only screen and (min-width:751px) and (max-width:970px)"/>

    <link id="styles-0-750" rel="stylesheet" type="text/css" href="/Content/css/0-750.css" media="only screen and (max-width:750px)"/>


    <link rel="shortcut icon" href="/Content/images/favicon.png" />


</head>

<body class="page page-template-default ">

    <div id="site-wrapper">	
        <div id="header-shell">
            <div id="header" class="border-styles">
                <div id="dynamic-height">

                    <a id="logo" href="" >
                                    <img src="~/content/images/logo.png" alt="alive Portal"/>
                    </a>
					

                   
                </div>
            </div>
        </div>
		
            @RenderBody()

      
</body>

</html>