﻿@model AlivePortal.Models.ApplicationViewModel
<script>

  

</script>
<script type="text/javascript">


   
</script>
        @Html.HiddenFor(model => model.id)

       <div class="da-panel-content" style="width:500px;">
       <div class="da-form">
       <div class="da-form-row">
            @Html.LabelFor(model => model.name)
        <div class="da-form-item large">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
         </div>
            <div class="da-form-row">
            Icon
        <div class="da-form-item large">
                  @(Html.Kendo().Upload()
            .Name("icon")
        .Multiple(false)
             .Async(a => a
            .Save("SaveIcon", "Application")
            .AutoUpload(true)
              ).Events(e => e
            .Upload(@<text>
            function(e) {    
             e.data = { id: $("#id").val() };
            }
          </text>)
        )
        )
        
        </div>
         </div>
        
         
        <div class="da-form-row">
            @Html.LabelFor(model => model.description)
        <div class="da-form-item large">
        @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
          </div>
         </div>
              <div class="da-form-row">
            @Html.LabelFor(model => model.bundle_identifier)
        <div class="da-form-item large">
            @Html.EditorFor(model => model.bundle_identifier)
            @Html.ValidationMessageFor(model => model.bundle_identifier)
        </div>
         <div class="da-form-row">
            @Html.LabelFor(model => model.bundle_version)
        <div class="da-form-item large">
            @Html.EditorFor(model => model.bundle_version)
            @Html.ValidationMessageFor(model => model.bundle_version)
        </div>
         <div class="da-form-row">
            IPA File
        <div class="da-form-item large">
                  @(Html.Kendo().Upload()
            .Name("files")
        .Multiple(false)
             .Async(a => a
            .Save("SaveFile", "Application")
            .AutoUpload(true)
              ).Events(e => e
            .Upload(@<text>
            function(e) {    
             e.data = { id: $("#id").val() };
            }
          </text>)
        )
        )
        
        </div>
         </div>
        
        
   </div>
   </div>
